<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="gmt.My.MySettings.gmtConnectionString" connectionString="Database=gmt;UID=root;Password=ev!,3i;host=server" />
    <add name="gmt.My.MySettings.AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\server\server\gmt.mdb;Persist Security Info=False;Jet OLEDB:Database Password=A3y;" />
    <add name="gmt.My.MySettings.AccessConnectionStringLocal" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\private\gmt\gmt.mdb;Persist Security Info=False;Jet OLEDB:Database Password=A3y;" />
    <add name="gmt.My.MySettings.AccessConnectionStringNetwork" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\server\server\gmt.mdb;Persist Security Info=False;Jet OLEDB:Database Password=A3y;" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
